################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Giorno_1/Esercitazione_M5_Prima_Settimana/.vs
/Giorno_3/Esercitazione_Settimana_W7/.vs
/Giorno_5/Esercitazione_19_07/.vs/Esercitazione_19_07
