@model Users

<form asp-action="Register">
    <label asp-for="Username" />
    <input asp-for="Username" />
    <br />
    <label asp-for="Password" />
    <input type="password" asp-for="Password" />
    <button>Registrati</button>
</form>