@model IEnumerable<Esercitazione_19_07.Models.Violazione>

@{
    ViewData["Title"] = "Elenco delle violazioni";
}

<h1>Elenco delle violazioni</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Identificativo Violazione
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdViolazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            
        </tr>
}
    </tbody>
</table>
