@model IEnumerable<Esercitazione_19_07.Models.VerbaleTrasgressore>

@{
    ViewData["Title"] = "Punti Patente Decurtati";
}

<link rel="stylesheet" href="~/css/GetAllViolazioni.css" />
<div class="container">
    <div class="table-container">

        <h1>Punti Decurtati Per Trasgressore</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Trasgressore)
                    </th>
                    <th>
                        Punti Decurtati
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trasgressore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotaleVerbali)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>