@model IEnumerable<Esercitazione_19_07.Models.VerbaleTrasgressore>

@{
    ViewData["Title"] = "Elenco verbali per trasgressore";
}

<h1>Elenco verbali per trasgressore</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trasgressore)
            </th>
            <th>
                Totale Verbali Per Trasgressore
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trasgressore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotaleVerbali)
            </td>
            
        </tr>
}
    </tbody>
</table>
